{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [],
  "permission": {
    "read": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    },
    "edit": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    },
    "glob": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    },
    "grep": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    },
    "list": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    },
    "external_directory": {
      "~/.config/env.d": "deny",
      "~/.config/env.d/**": "deny"
    }
  },
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{env:CONTEXT7_API_KEY}"
      },
      "enabled": {{ if env "CONTEXT7_API_KEY" }}true{{ else }}false{{ end }}
    }
  }
}
