{{- includeTemplate ".chezmoitemplates/profile-guard.tmpl" . -}}

{{- if not .manages_personal_ssh }}
.ssh/config
{{- end }}
{{- if not .manages_gh }}
.config/gh/config.yml
.config/gh/hosts.yml
{{- end }}
{{- if not .manages_opencode }}
.config/opencode
{{- end }}
