{{- /* Use env var, then existing config, then default */ -}}
{{- $email := coalesce (env "CHEZMOI_EMAIL") (get . "email") "dev@example.com" -}}
{{- $fullname := coalesce (env "CHEZMOI_NAME") (get . "fullname") "Aaron Blair" -}}

[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
