{{- if eq .chezmoi.os "darwin" -}}
["Library/Fonts/MesloLGS NF Regular.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"
    refreshPeriod = "672h"
["Library/Fonts/MesloLGS NF Bold.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf"
    refreshPeriod = "672h"
["Library/Fonts/MesloLGS NF Italic.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf"
    refreshPeriod = "672h"
["Library/Fonts/MesloLGS NF Bold Italic.ttf"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf"
    refreshPeriod = "672h"
{{ end -}}

{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
[".config/zellij/plugins/vim-zellij-navigator.wasm"]
    type = "file"
    url = "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm"
    refreshPeriod = "672h"
{{ end -}}
