[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
