layout {
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                hide_frame_for_single_pane "true"

                format_left   "{mode} #[bold]{session} "
                format_center "{tabs}"
                format_right  "{swap_layout}"
                format_space  ""

                border_enabled  "true"
                border_char     "-"
                border_position "top"

                format_hide_on_overlength "true"
                format_precedence "lcr"

                mode_normal "#[bold] NORMAL "
                mode_locked "#[bold] LOCKED "
                mode_tmux   "#[bold] TMUX "

                tab_normal    "{index}:{name}"
                tab_active    "#[bold]{index}:{name}"
                tab_separator " | "

                swap_layout_hide_if_empty "true"
            }
        }
    }
}
